<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Singgest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type='text/JavaScript' src='http://www.onemap.sg/API/JS?accessKEY=xkg8VRu6Ol+gMH+SUamkRIEB7fKzhwMvfMo/2U8UJcFhdvR4yN1GutmUIA3A6r3LDhot215OVVkZvNRzjl28TNUZgYFSswOi'></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDbJUfM0l2zzWNlCUMg_KsyJSbeR1V-ZRs&sensor=false&libraries=places">
    </script>
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui-map.googlecode.com/svn/trunk/demos/js/modernizr-2.0.6/modernizr.min.js"></script>
    
    <link rel="stylesheet" href="/static/style.css" />
    <script type="text/javascript" src="/static/maps.js"></script>
  </head>
  <body>
    <!--<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId : '1441303052782667',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml : true // parse XFBML
      });
      };

      (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    <script type="text/javascript">
      function shareFacebook(){
        console.log("click")
        FB.ui(
        {
        method: 'feed',
        name: 'Sit and Eat',
        link: 'http://www.hawkerseater.appspot.com',
        picture: 'http://www.hawkerseater.appspot.com/static/img/thumb/1.jpg',
        caption: 'I love Sit And Eat!',
        description: 'Awesome app that allows me to look for a nearby hawker center or food court with seats!',
        message: 'I have found a seat at {{place}}!'
        });
      }
    </script>-->
    {% block content %}
    {% endblock %}
  </body>
  
</html>