{% extends "base.html" %}
{% block content %}
<script type="text/JavaScript">
    function GetSearchData() {
        var basicSearch = new BasicSearch;
        var searchText = document.getElementById("txtSearchText").value
        basicSearch.searchVal = searchText;
        basicSearch.returnGeom = '1';

        basicSearch.GetSearchResults(displayData)
    }

    function displayData(resultData){
        var results = resultData.results;
        if (results=='No results'){
            document.getElementById('divResults').innerHTML = "No result(s) found";
            return false
        }
        else{
            var htmlStr = "<table>";
            htmlStr = htmlStr + "<tr><th>Search Value </th></tr>";
            for (var i = 0; i < results.length; i++) {
                var row = results[i];
                htmlStr = htmlStr + "<tr>";
                htmlStr = htmlStr + "<td>";
                htmlStr = htmlStr + "<a href='JavaScript:ZoomTo("+ row.X +","+ row.Y +")'>" + row.SEARCHVAL + "</a>";
                htmlStr = htmlStr + "</td>";
                htmlStr = htmlStr + "</tr>";
            }
            htmlStr = htmlStr + "</table>";
            document.getElementById('divResults').innerHTML = htmlStr;
        }
    }
   
//add map on body load 
var OneMap = new GetOneMap('divMain','SM');   

function ZoomTo(xVal,yVal){
  
    OneMap.showLocation(xVal,yVal);
}

</script>

<script>
    function upvote(id){
        var xmlhttp;
        //if (str=="")
        //  {
        //  document.getElementById("txtHint").innerHTML="";
        //  return;
        //  }
        if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                document.getElementById(id+'_rating').innerHTML=xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET","/upvote?id="+id,true);
        xmlhttp.send();
    }
</script>

<div data-role="page" id="mapsPage">
    
    <div data-role="panel" id="searchResults" data-position="right" data-display="overlay">
        <!-- panel content goes here -->
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search favorites...">
            <li><!--<a data-transition="slideup" href='#tablesPage?place={{ place }}'>{{ place }}</a>-->
                <div id="divResults"></div>
            </li>
        </ul>
    </div><!-- /panel -->
    
    <div role="main">
        <div id="divMain" style='width:100%;height:94vh;'></div>
        
        
        
        <div data-role="footer" data-position="fixed">
            <input type="search" name="search" id="txtSearchText" value="City Hall">
            <a href="#searchResults" data-icon="search" class="ui-btn-right" onClick="GetSearchData();">Search</a>
        </div>
    </div>
    
        
</div> <!-- /mapsPage -->



<div data-role="page" id="places">
    <ul data-role="listview">
        {% for post in posts %}
            <li>
                <a href="#q{{ post.key.id() }}">{{ post.title }}
                <span id="{{ post.key.id() }}_rating" class=ui-li-count>{{ post.rating }}</span>
                </a>
                <a data-icon=plus onclick=upvote({{ post.key.id() }})></a>
                
            </li>
        {% endfor %}
    </ul>
    <a href="#newPost">New Post</a>
</div>

{% for post in posts %}
<div data-role="page" id="q{{ post.key.id() }}">
    <a data-rel=back></a>
    <h1>{{ post.title }}</h1>
    <div>{{ post.content }}</div>
    
    <button data-icon=plus onclick=upvote({{ post.key.id() }})>
        <span id="{{ post.key.id() }}_rating">{{ post.rating }}</span>
    </button>
    
    <form action="/comment" method=post>
        <input type=hidden name=post_id value="{{ post.key.id() }}">
        <input type=text name="content">
        <input type=submit value="Comment">
    </form>
    {% for comment in comments %}
        {{ comment.content }}
    {% endfor %}

</div>
{% endfor %}


<div data-role="page" id="newPost">
    <form action="/post" method='post'>
        <label>Title</label>
        <input type=text name=title>
        <label>Content</label>
        <input type=text name=content>
        <input type=submit value="Submit">
    </form>
</div>

{% endblock %}